.card {
    display: flex;
    flex-direction: row;
    gap: 24px;
    width: 888px;
    background: var(--white);
    border-radius: 16px;
    border: 1px solid #dadde1;
    border-radius: 20px;
    padding: 24px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.card:hover {
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.06);
    transform: translateY(-2px);
}

img {
    border-radius: 10px;
    width: 292px;
    height: 320px;
    object-fit: cover;
    object-position: 70% 20%;
}



.firstLine {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-bottom: 8px;
    justify-content: space-between;
}

.name {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.33333;
    color: var(--main);
}

.about {
    display: flex;
    gap: 12px;
}

.price {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.33333;
    color: var(--main);
}

.heart {
    fill: var(--main);
    cursor: pointer;
    transition: fill 0.3s ease, transform 0.3s ease;
    width: 25px;
    height: 24px;
    outline: none;
}

.heart:hover {
    transform: scale(1.2);
    color: var(--button) !important;
    outline: none;
}

.heart.active {
    color: var(--button-hover);
    outline: none;
}

.secondLine {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 24px;

}

.star {
    width: 16px;
    height: 16px;
    margin-right: 4px;
}

.underlineStyle {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    display: flex;
    margin-right: 16px;
}

.rating {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--main);
}

.map {
    width: 16px;
    height: 16px;
    margin-right: 4px;
}

.location {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--main);
}

.description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--text);
    margin-bottom: 24px;
}

.features {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 24px;
    width: 400px;
}

.item {
    background: #f2f4f7;
    mix-blend-mode: multiply;
    border-radius: 100px;
    padding: 12px 18px;
    display: flex;
    gap: 3px;
    align-items: center;
}

.icon {
    width: 20px;
    height: 20px;
}

label {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--main);
}

.button {
    border-radius: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 166px;
    height: 56px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.01em;
    color: var(--white) !important;
    background-color: var(--button);
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none ! important;
    user-select: none;
}

.button:hover {
    border: none;
    background: var(--button-hover);
}

.button:active {
    border: none;
    transform: scale(0.95);
}

.button:focus {
    outline: none;
}